DATABASE_URL="postgresql://carlos@localhost:5432/erp"
JWT_AT_SECRET="your-access-token-secret"
JWT_RT_SECRET="your-refresh-token-secret"
PORT=3000
SESSION_SECRET="your-session-secret"
NEST_API_URL="http://localhost:3000"
